<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ni.org.ics.zpo.v2.appmovil"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />

    <application
        android:allowBackup="false"
        android:name="ni.org.ics.zpo.v2.appmovil.MyZpoApplication"
        android:icon="@drawable/ic_zika_infection"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ni.org.ics.zpo.v2.appmovil.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ni.org.ics.zpo.v2.appmovil.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.v2.appmovil.preferences.PreferencesActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.v2.appmovil.activities.server.UploadAllActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.v2.appmovil.activities.server.DownloadAllActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.v2.appmovil.activities.buscar.BuscarMadreActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.v2.appmovil.activities.paginas.MenuMadresActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.v2.appmovil.activities.paginas.eventosmadre.MotherVisitActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.v2.appmovil.activities.paginas.eventosmadre.MotherCallActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.v2.appmovil.activities.nuevos.NewZpo00ScreeningActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.v2.appmovil.activities.buscar.BuscarInfanteActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.v2.appmovil.activities.paginas.MenuInfantesActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.v2.appmovil.activities.paginas.eventosinfante.InfantVisitActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.v2.appmovil.activities.paginas.eventosinfante.InfantVisit4860Activity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.v2.appmovil.activities.paginas.eventosinfante.InfantVisit7284Activity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.v2.appmovil.activities.paginas.MenuControlConsentimientosActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.v2.appmovil.activities.nuevos.NewZpoControlConsentimientosRecepcionActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.v2.appmovil.activities.nuevos.NewZpoControlConsentimientosSalidaActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.v2.appmovil.activities.nuevos.NewZpoVisitaFallidaActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.v2.appmovil.activities.nuevos.NewZpoV2RecoleccionMuestraActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".activities.paginas.eventosinfante.InfantCallActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.v2.appmovil.activities.nuevos.NewZpoV2MullenActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".activities.nuevos.NewZpoV2EdadesEtapasActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".activities.nuevos.NewZpoV2IndCuidadoFamiliaActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".activities.nuevos.NewZpoV2CuestDemograficoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".activities.paginas.eventosinfante.InfantEntryActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".activities.nuevos.NewZpoV2ActCuestDemogActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".activities.nuevos.NewZpoV2CuestSaludInfantilActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".activities.nuevos.NewZpoV2ActCuestSaludInfantilActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".activities.nuevos.NewZpoV2CuestSaludMaternaActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.v2.appmovil.activities.paginas.eventosmadre.IngresoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".activities.nuevos.NewZpoV2ActCuestSaludMaternaActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".activities.nuevos.NewZpoV2CuestSocioeconomicoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".activities.nuevos.NewZpoV2EvalPsicologicaActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".activities.nuevos.NewZpoV2ExamFisicoInfanteActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".activities.nuevos.NewZpoV2FormAudicionActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".activities.nuevos.NewZpoV2EvalVisualActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".activities.nuevos.NewZpoV2StudyExitActivity"
                  android:screenOrientation="portrait" />

    </application>

</manifest>